.salary-container {
    background-color: #81D4FA;
    padding: 30px;
    min-height: 100vh;

    .train-info {
        margin-top: 50px;
    }
}

.input-container {
    background-color: white;
    color: dimgray;
    padding: 25px;
}

.input-salary {
    font-size: 80px;
    height: 100px;
}